<div class="row">
  <div class="col-md-2">
    <i class="fa fa-user" id = "user_icon"></i>
  </div><!--./vol-md-2 -->
  <div class="col-md-10"id="profile_area" >
    <p class="h2">エンジニア</h2>
    <p class="h4">大阪のシステム会社で働く22歳エンジニア。</p>
    <p class="h4">業務ではJava、.net系統を中心に、</p>
    <p class="h4">趣味ではJavascript、Ruby等でコーディングをしています。</p > 
  </div><!--./col-md-10 -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>所持スキル</th>
        <th>習得度：MAX 5</th>
        <th>愛着度：MAX 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Ruby</td>
        <td>★★★☆☆ </td>
        <td>★★★☆☆ </td>
      </tr>
  </table>
  <div class="page-header">
      <h3>Community</h3>
  </div>
  <ul class="community_icon">
    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
    <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
    <li><a href="#"><i class="fa fa-github"></i></a></li>
    <li><a href="#"><i class="fa fa-home"></i></a></li>
  </ul>
</div>

