<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body" id="application_panel">
    <h4 class="media-heading">Todo管理アプリケーション <small>2015-10</small></h4>
      <p class="index"><strong>アプリケーション紹介</strong></p>
      WebStorageを用いたTodo管理アプリケーション。</br>
      ブラウザに保存するため情報流出することがなく、</br>
      機密情報管理の厳しい現場でも安心して使うことができます。</br>

      <p class="index"><strong>開発構成</strong></p>
      HTML </br>
      Javascript</br>
      JQuery</br>
      CSSフレームワーク BootStrap3</br>
      
      <p class="index"><strong>公開先</strong></p>
      guthub.....
  </div>
</div>
